table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

tr:nth-child(even) {
    /* background-color: #d4d4d4; */
}

hr{
    width: 90%;  
}
.logo{
    margin-top: 30px;
    padding-left: 30px;
}
.signature{
    width: 50%;
    margin-top: 20px;
    padding-left:450px;
}
.realisateur{
    text-align:center;
    margin-bottom: -7px;
    font-size: 14px;
    font-weight: bold;
}
hr{
    text-align:center;
    width: 50%;
    margin-top: 15px;
}

.poste{
    text-align: center;
    font-size: 13px;
}
.header-form {
    text-align: right;
    width: 70%;
    margin-top: 10px;
}

.title {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.title-report {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-left: -15px;
}

h3 {
    color: #0f0f0f;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: -15px;
    margin-bottom: 1px;
}

h4 {
    color: #0f0f0f;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 7px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    margin-left: 7%;

}

.row-report {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
    /* margin-right: -15px; */
    margin-left: 7%;

}
.row-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    margin-left: 5%;

}

.col-sm-6 {
    position: relative;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-3 {
    position: relative;
    width: 45%;
    padding-right: 15px;
    padding-left: 15px;
    font-family: arial, sans-serif;
    font-size: 12px;
}

.exam {
    font-size: 10px;
    font-weight: bold;
}

.resultat {
    font-size: 10px;
}

.report {
    font-size: 10px;
}

li {
    list-style-type: none;
}