<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <title>Document</title>

<style>
.cMonTableauRule {
  width: 90%;
  border-collapse: collapse;
  border-top: 4px solid #808080;
  border-bottom: 4px solid #808080;
}

.cMonTableauRule th, .cMonTableauRule td {
  border-bottom: 1px solid #808080;
}
</style>

</head>
<body>

  
    <table class="cMonTableauRule">
  <caption>Liste des élèves</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
      {{#each items}}
            <tr>
            <td><img src="data:image/jpeg;base64,{{ Photo}}" alt="img" width="30" height="30"></td>
            <td scope="row">1</td>
            <td scope="col">{{ Code}}</td>
            <td>{{ Student}}</td>
            <td>{{ Sexe}}</td>
            </tr>
      {{/each}} 
  </tbody>
</table>
</body>
</html>
